.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajusta la altura según tus necesidades */
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.background {
  background-color: azure;
  width: max-content;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: cadetblue;
  padding: 5%;
  border-radius: 15%;
  justify-content: space-evenly;
  
}

.login .form-input {
  position: relative;
  margin-bottom: 30px;
}

.login .form-input input {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  background: rgba(255, 255, 255, 0);
  color: #eee;
}
::-ms-reveal {
  filter: invert(100%);
}

.login button {
  margin-top: 10%;;
  opacity: 75%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  width: fit-content;
  transition: 0.2s;
}

.login button:hover {
  opacity: 100%;
}

.login .form-input label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s ease;
}

input:focus + label,
input:valid + label{
  top: -10px !important;
  left: 0;
  font-size: 15px !important;
}

/* .login {
  width: 680px;
} */

/* .form-input {
  position: relative;
  height: 80px;
  padding-top: 30px;
  line-height: 80px;
}

input {
  position: absolute;
  width: 100%;
  outline: none;
  height: 80px;
  font-size: 30px;
  padding: 0 30px;
  line-height: 10px;
  border-radius: 10px;
  border: 2px solid #f0ffff;
  background: transparent;
  transition: 0.2s ease;
  z-index: 1111;
}

label {
  position: absolute;
  font-size: 30px;
  color: #f0ffff;
  padding: 0 25px;
  margin: 0 20px;
  background-color: #282c34;
  transition: 0.2s ease;
}

input:focus,
input:valid {
  color: #6f0;
  border: 4px solid #6f0;
  text-emphasis-color: #6f0;
}

input:focus + label,
input:valid + label {
  color: #6f0;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  padding: 0 12px;
  transform: translate(-15px, -16px) scale(0.88);
  z-index: 1111;
} */