.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Ajusta la altura según tus necesidades */
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ajusta la altura según tus necesidades */
}

.background {
  background-color: azure;
  width: max-content;
}

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: cadetblue;
  padding: 5%;
  border-radius: 15%;
  justify-content: space-evenly;
  
}

.login .form-input {
  position: relative;
  margin-bottom: 30px;
}

.login .form-input input {
  margin-top: 20px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #eee;
  outline: none;
  background: rgba(255, 255, 255, 0);
  color: #eee;
}
::-ms-reveal {
  filter: invert(100%);
}

.login button {
  margin-top: 10%;;
  opacity: 75%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
  width: fit-content;
  transition: 0.2s;
}

.login button:hover {
  opacity: 100%;
}

.login .form-input label {
  position: absolute;
  top: 10px;
  left: 0;
  padding: 10px 0;
  font-size: 20px;
  pointer-events: none;
  transition: 0.3s ease;
}

input:focus + label,
input:valid + label{
  top: -10px !important;
  left: 0;
  font-size: 15px !important;
}